PORT=3000
GOOGLE_PROJECT_ID=anatkrupa-sheets
GOOGLE_CLIENT_EMAIL=anatkrupa-sheets-service@anatkrupa-sheets.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
SPREADSHEET_ID=YOUR_GOOGLE_SHEET_ID
USER_SHEET_NAME=user
FLAT_SHEET_NAME=Sheet1
